
# Final Project
In this project, our aim is to building a model for predicting dimond prices. Our label (output) will be price column. Do not forget, this is a Classification problem!

**Content**

carat: weight of the diamond (0.2--5.01)

cut: quality of the cut (Fair, Good, Very Good, Premium, Ideal)

color: diamond colour, from J (worst) to D (best)

clarity: a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

x: length in mm (0--10.74)

y: width in mm (0--58.9)

z: depth in mm (0--31.8)

depth: total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)

table: width of top of diamond relative to widest point (43--95)

In [ ]:
# Importing the libs

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

Read the diamonds.csv file and describe it.

In [ ]:
# Read csv
path = '/content/drive/MyDrive/FinalProject/diamonds.csv'
df = pd.read_csv(path)

In [ ]:
df

       index  carat        cut color clarity  ...  table     x     y     z     price
0          1   0.23      Ideal     E     SI2  ...   55.0  3.95  3.98  2.43  Very Low
1          2   0.21    Premium     E     SI1  ...   61.0  3.89  3.84  2.31  Very Low
2          3   0.23       Good     E     VS1  ...   65.0  4.05  4.07  2.31  Very Low
3          4   0.29    Premium     I     VS2  ...   58.0  4.20  4.23  2.63  Very Low
4          5   0.31       Good     J     SI2  ...   58.0  4.34  4.35  2.75  Very Low
...      ...    ...        ...   ...     ...  ...    ...   ...   ...   ...       ...
53935  53936   0.72      Ideal     D     SI1  ...   57.0  5.75  5.76  3.50  Very Low
53936  53937   0.72       Good     D     SI1  ...   55.0  5.69  5.75  3.61  Very Low
53937  53938   0.70  Very Good     D     SI1  ...   60.0  5.66  5.68  3.56  Very Low
53938  53939   0.86    Premium     H     SI2  ...   58.0  6.15  6.12  3.74  Very Low
53939  53940   0.75      Ideal     D     SI2  ...   55.0  5.83  5.87  3.64  Very Low

[53940 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   color    53940 non-null  object
 4   clarity  53940 non-null  object
 5   depth    53940 non-null  float64
 6   table    53940 non-null  float64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
 10  price    53940 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 4.5+ MB

Make at least 4 different analysis on Exploratory Data Analysis section.

In [ ]:
# Describe our data for each feature and use .info() for get information about our dataset
# Analyse missing values
# Our label Distribution (countplot)
# Example EDA (distplot)

Pre-process the dataset to get ready for ML application. (Check missing data and handle them, can we need to do scaling or feature extraction etc.)

In [ ]:
df.isna().sum().sum()

0

In [ ]:
df.duplicated().sum()

0

Define appropriate evaluation metric for our case (classification). Hint: Is there any imbalanced problem in the label column?

Split the dataset into train and test set. (Consider the imbalanced problem if is there any). Check the distribution of labels in the subsets (train and test).

Train and evaluate Decision Trees and at least 2 different appropriate algorithm which you can choose from scikit-learn library.

Is there any overfitting and underfitting? Interpret your results and try to overcome if there is any problem in a new section.

Create confusion metrics for each algorithm and display Accuracy, Recall, Precision and F1-Score values.

Analyse and compare results of 3 algorithms.

Select best performing model based on evaluation metric you chose on test dataset.